<app-form-macroproject *ngIf="((macroproject$ | async) === undefined) as macroproject" [pending]="pending$ | async"
  (submitted)="onStore($event)">
  <div class="form-title">
    <app-translate-shared [strings]="['verbs.create.verb', 'macroproject.singular']"></app-translate-shared>
  </div>
  <app-button-shared [type]="'button'" [label]="['verbs.cancel.verb']" [class]="'ui-button-secondary'"
    (click)="onCancel()"></app-button-shared>
</app-form-macroproject>

<app-form-macroproject *ngIf="(macroproject$ | async) as macroproject" [pending]="pending$ | async"
  (submitted)="onUpdate($event)" [macroproject]="macroproject">
  <div class="form-title">
    <app-translate-shared [strings]="['verbs.edit.verb', 'macroproject.singular']"></app-translate-shared>
  </div>
  <app-button-shared [type]="'button'" [label]="['verbs.delete.verb']" [class]="'ui-button-secondary'"
    (click)="onDestroy(macroproject)"></app-button-shared>
  <app-button-shared [type]="'button'" [label]="['verbs.cancel.verb']" [class]="'ui-button-secondary'"
    (click)="onCancel()"></app-button-shared>
</app-form-macroproject>
