<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="dayForm" (ngSubmit)="onSubmit()">
      <div class="ui-grid">

        <div class="ui-grid-row">
          <div class="ui-grid-col-2"><!-- // TODO --></div>
          <div class="ui-grid-col-6">
            <!-- // TODO -->
          </div>
          <div class="ui-grid-col-4">
            <!-- // TODO -->
          </div>
        </div>

      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-10 ui-g-offset-2">
          <app-button-shared [type]="'submit'" [label]="['save.verb']" [class]="'ui-button-secondary'" [disabled]="dayForm.invalid"></app-button-shared>
          <ng-content select="app-button-shared"></ng-content>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
