<app-panel-shared>
  <div class="panel-header">
    <app-translate-shared [strings]="['verbs.search.verb', 'day.plural']"></app-translate-shared>
  </div>
  <div class="panel-content">
    <form [formGroup]="searchFormDay" (ngSubmit)="onSubmit()">

      <div class="p-grid p-nogutter">
        <div class="p-col">
          <div class="p-grid p-nogutter">
            <div class="p-col">
              // TODO
            </div>
            <div class="p-col">
              // TODO
            </div>
          </div>
        </div>
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['verbs.search.verb']" [disabled]="searchFormDay.invalid"
            [class]="'ui-button-secondary'"></app-button-shared>
          <app-button-shared [type]="'button'" [label]="['verbs.create.verb']" (click)="onCreate()" [class]="'ui-button-secondary'"></app-button-shared>
          <app-button-shared [type]="'button'" [label]="['verbs.clean.verb']" (click)="onReset()" [class]="'ui-button-secondary'"></app-button-shared>
        </div>
      </div>

    </form>
  </div>
</app-panel-shared>
