<app-form-macroproject *ngIf="!(macroproject$ | async) as macroproject" (submitted)="onStore($event)">
    <div class="form-title">Agregar Macro Proyecto</div>
    <app-button-shared [type]="'button'" [label]="'Cancelar'" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
  </app-form-macroproject>

  <app-form-macroproject *ngIf="(macroproject$ | async) as macroproject" (submitted)="onUpdate($event)" [macroproject]="macroproject">
    <div class="form-title">Editar Macro Proyecto</div>
    <app-button-shared [type]="'button'" [label]="'Eliminar'" [class]="'ui-button-secondary'" (click)="onDestroy(macroproject)"></app-button-shared>
    <app-button-shared [type]="'button'" [label]="'Cancelar'" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
  </app-form-macroproject>

