<form [formGroup]="cityForm" (ngSubmit)="onSubmit(cityForm)">
  <app-panel-shared>
    <div class="panel-header">
      <ng-content select=".form-title"></ng-content>
    </div>
    <div class="panel-content">
      <div class="ui-g">
        <div class="ui-g-6 ui-g-nopad">
          <div formGroupName="city">
            <app-input-text-shared [group]="cityForm" [groupName]="'city'" [controlName]="'city_name'" [placeholder]="'Ciudad'"></app-input-text-shared>
            <app-input-text-shared [group]="cityForm" [groupName]="'city'" [controlName]="'city_code'" [placeholder]="'Codigo'"></app-input-text-shared>
          </div>
          <div formGroupName="estate">
            <app-dropdown-page-estate [group]="cityForm" [controlName]="'estate'" [options]="['estate_name']"></app-dropdown-page-estate>
          </div>
        </div>
        <ng-content select="app-button-shared"></ng-content>
      </div>
    </div>
  </app-panel-shared>
</form>
