<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <div class="ui-grid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['type_person.singular']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-dropdown-page-type-person [group]="personForm" [controlName]="'type_person'" [options]="['type_person_description']"
              [optionLabel]="'type_person_description'"></app-dropdown-page-type-person>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('type_person')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['type_person_identification.singular']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-dropdown-page-type-person-identification [group]="personForm" [controlName]="'type_person_identification'"
              [options]="['type_person_identification_description']" [optionLabel]="'type_person_identification_description'"></app-dropdown-page-type-person-identification>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('type_person_identification')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_identification_date_issue']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-calendar-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_identification_date_issue'"
              [dataType]="'string'" [dateFormat]="'yy-mm-dd'"></app-input-calendar-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_identification_date_issue')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_identification']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_identification'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_identification')"></app-validation-errors-shared>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_first_name']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_first_name'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_first_name')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_second_name']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_second_name'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_second_name')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_first_surname']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_first_surname'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_first_surname')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_second_surname']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_second_surname'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_second_surname')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_legal_name']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_legal_name'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_legal_name')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_address']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_address'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_address')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_email']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_email'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_email')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['person.model.person_phone']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-input-text-shared [group]="personForm" [groupName]="'person'" [controlName]="'person_phone'"></app-input-text-shared>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('person.person_phone')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['city.singular']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-dropdown-page-city [group]="personForm" [controlName]="'city_issue'" [options]="['city_name']"
              [optionLabel]="'city_name'"></app-dropdown-page-city>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('city_issue')"></app-validation-errors-shared>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['city.singular']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-dropdown-page-city [group]="personForm" [controlName]="'city_location'" [options]="['city_name']"
              [optionLabel]="'city_name'"></app-dropdown-page-city>
          </div>
          <div class="ui-grid-col-4">
            <app-validation-errors-shared [control]="personForm.get('city_location')"></app-validation-errors-shared>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-10 ui-g-offset-2">
          <app-button-shared [type]="'submit'" [label]="['save.verb']" [class]="'ui-button-secondary'" [disabled]="personForm.invalid"></app-button-shared>
          <ng-content select="app-button-shared"></ng-content>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
