<form [formGroup]="searchFormCity" (ngSubmit)="onSubmit(searchFormCity)">
  <div class="ui-grid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-1">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">Id:</div>
          <div class="ui-grid-col-9">
            <app-input-text-shared [group]="searchFormCity" [groupName]="'city'" [controlName]="'city_id'" [placeholder]="'Id'"></app-input-text-shared>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-1">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">Ciudad:</div>
          <div class="ui-grid-col-8">
            <app-input-text-shared [group]="searchFormCity" [groupName]="'city'" [controlName]="'city_name'" [placeholder]="'Ciudad'"></app-input-text-shared>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-1">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">Codigo:</div>
          <div class="ui-grid-col-8">
            <app-input-text-shared [group]="searchFormCity" [groupName]="'city'" [controlName]="'city_code'" [placeholder]="'Codigo'"></app-input-text-shared>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-2">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">Estado:</div>
          <div class="ui-grid-col-9">
            <app-dropdown-page-estate [group]="searchFormCity" [controlName]="'estate'" [options]="['estate_name']"></app-dropdown-page-estate>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-7">
        <app-button-shared [type]="'submit'" [label]="'Buscar'" [disabled]="searchFormCity.invalid" [class]="'ui-button-secondary'"></app-button-shared>
        <app-button-shared [type]="'button'" [label]="'Agregar'" (click)="onCreate()" [class]="'ui-button-secondary'"></app-button-shared>
        <app-button-shared [type]="'button'" [label]="'Limpiar'" (click)="searchFormCity.reset()" [class]="'ui-button-secondary'"></app-button-shared>
      </div>
    </div>
  </div>
</form>
