<app-form-day *ngIf="!(day$ | async) as day" [pending]="pending$ | async" (submitted)="onStore($event)">
    <div class="form-title">
      <app-translate-shared [strings]="['verbs.create.verb', 'day.singular']"></app-translate-shared>
    </div>
    <app-button-shared [type]="'button'" [label]="['verbs.cancel.verb']" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
  </app-form-day>

  <app-form-day *ngIf="(day$ | async) as day" [pending]="pending$ | async" (submitted)="onUpdate($event)" [day]="day">
    <div class="form-title">
      <app-translate-shared [strings]="['verbs.edit.verb', 'day.singular']"></app-translate-shared>
    </div>
    <app-button-shared [type]="'button'" [label]="['verbs.delete.verb']" [class]="'ui-button-secondary'" (click)="onDestroy(day)"></app-button-shared>
    <app-button-shared [type]="'button'" [label]="['verbs.cancel.verb']" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
  </app-form-day>

