<form [formGroup]="searchFormCountry" (ngSubmit)="onSubmit(searchFormCountry)">
  <span>Buscar</span>
  <app-input-text-shared [group]="searchFormCountry" [groupName]="'country'" [controlName]="'country_id'" [placeholder]="'Id'"></app-input-text-shared>
  <app-input-text-shared [group]="searchFormCountry" [groupName]="'country'" [controlName]="'country_name'" [placeholder]="'Pais'"></app-input-text-shared>
  <app-input-text-shared [group]="searchFormCountry" [groupName]="'country'" [controlName]="'country_code'" [placeholder]="'Codigo'"></app-input-text-shared>
  <button pButton type="submit" label="Buscar" [disabled]="searchFormCountry.invalid" class="ui-button-secondary"></button>
  <button pButton type="button" label="Agregar" (click)="onCreate()" class="ui-button-secondary"></button>
</form>
