<app-panel-shared>
  <div class="panel-header">
    <app-translate-shared [strings]="['search.verb', 'estate.plurar']"></app-translate-shared>
  </div>
  <div class="panel-content">
    <form [formGroup]="searchFormEstate" (ngSubmit)="onSubmit()">
      <div class="ui-grid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-1">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <app-translate-shared [strings]="['estate.model.estate_id']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-9">
                <app-input-text-shared [group]="searchFormEstate" [groupName]="'estate'" [controlName]="'estate_id'"></app-input-text-shared>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-1">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                <app-translate-shared [strings]="['estate.model.estate_name']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-8">
                <app-input-text-shared [group]="searchFormEstate" [groupName]="'estate'" [controlName]="'estate_name'"></app-input-text-shared>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-1">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                <app-translate-shared [strings]="['estate.model.estate_code']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-8">
                <app-input-text-shared [group]="searchFormEstate" [groupName]="'estate'" [controlName]="'estate_code'"></app-input-text-shared>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <app-translate-shared [strings]="['country.singular']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-9">
                <app-dropdown-page-country [group]="searchFormEstate" [controlName]="'country'" [options]="['country_name']"
                  [optionLabel]="'country_name'"></app-dropdown-page-country>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-7">
            <app-button-shared [type]="'submit'" [label]="['search.verb']" [disabled]="searchFormEstate.invalid"
              [class]="'ui-button-secondary'"></app-button-shared>
            <app-button-shared [type]="'button'" [label]="['create.verb']" [class]="'ui-button-secondary'" (click)="onCreate()"></app-button-shared>
            <app-button-shared [type]="'button'" [label]="['clean.verb']" [class]="'ui-button-secondary'" (click)="onReset()"></app-button-shared>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
