<form [formGroup]="estateForm" (ngSubmit)="onSubmit(estateForm)">

  <ng-content select="h3"></ng-content>

  <div class="ui-g">
    <div class="ui-g-6 ui-g-nopad">
      <div formGroupName="estate">
        <div>Estado *:</div>
        <app-input-text-shared [group]="estateForm" [groupName]="'estate'" [controlName]="'estate_name'" [placeholder]="'Estado'"></app-input-text-shared>
        <div>Codigo *:</div>
        <app-input-text-shared [group]="estateForm" [groupName]="'estate'" [controlName]="'estate_code'" [placeholder]="'Codigo'"></app-input-text-shared>
      </div>
      <div formGroupName="country">
        <div>Pais *:</div>
        <app-dropdown-page-country [group]="estateForm" [controlName]="'country'" [options]="['country_name']" [unChanged]="false"></app-dropdown-page-country>
      </div>
      <ng-content select="button"></ng-content>
    </div>
  </div>

</form>
