<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['city.model.city_name']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="cityForm" [groupName]="'city'" [controlName]="'city_name'"></app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="cityForm.get('city.city_name')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['city.model.city_code']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="cityForm" [groupName]="'city'" [controlName]="'city_code'"></app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="cityForm.get('city.city_code')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['country.singular']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-dropdown-page-country [group]="cityForm" [controlName]="'country'" [options]="['country_name']"
            [optionLabel]="'country_name'" (changeDropdown)="changeCountry($event)"></app-dropdown-page-country>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="cityForm.get('country')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['estate.singular']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-dropdown-page-estate [group]="cityForm" [controlName]="'estate'" [options]="['estate_name']"
            [optionLabel]="'estate_name'" [searchEstate]="cityForm.get('country').value"></app-dropdown-page-estate>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="cityForm.get('estate')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['verbs.save.verb']" [class]="'ui-button-secondary'" [disabled]="cityForm.invalid"></app-button-shared>
          <ng-content select="app-button-shared"></ng-content>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
