<app-panel-shared>
  <div class="panel-header">
    <app-translate-shared [strings]="['auth.singIn']"></app-translate-shared>
  </div>
  <div class="panel-content">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['user.model.username']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="authForm" [groupName]="'auth'" [controlName]="'username'">
          </app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="authForm.get('auth.username')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['user.model.password']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-password-shared [group]="authForm" [groupName]="'auth'" [controlName]="'password'">
          </app-input-password-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="authForm.get('auth.password')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['auth.singIn']"
            [disabled]="authForm.invalid || authForm.disabled" [class]="'ui-button-secondary'"></app-button-shared>
          <app-button-shared [type]="'button'" [label]="['auth.forgotPassword']" [class]="'ui-button-secondary'"
            [disabled]="authForm.disabled">
          </app-button-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-message-shared *ngIf="error" [severity]="'error'" [text]="[error]"></app-message-shared>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
