<form [formGroup]="searchFormWorkflow" (ngSubmit)="onSubmit()">
  <app-panel-shared>
    <div class="panel-header">
      <app-translate-shared [strings]="['search.verb', 'workflow.plural']"></app-translate-shared>
    </div>
    <div class="panel-content">
      <div class="ui-grid">
        <div class="ui-grid-row">

          <div class="ui-grid-col-1">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <app-translate-shared [strings]="['workflow.model.workflow_id']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-9">
                <app-input-text-shared [group]="searchFormWorkflow" [groupName]="'workflow'" [controlName]="'workflow_id'"></app-input-text-shared>
              </div>
            </div>
          </div>

          <div class="ui-grid-col-1">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <app-translate-shared [strings]="['workflow.model.workflow_name']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-9">
                <app-input-text-shared [group]="searchFormWorkflow" [groupName]="'workflow'" [controlName]="'workflow_name'"></app-input-text-shared>
              </div>
            </div>
          </div>

          <div class="ui-grid-col-7">
            <app-button-shared [type]="'submit'" [label]="['search.verb']" [disabled]="searchFormWorkflow.invalid" [class]="'ui-button-secondary'"></app-button-shared>
            <app-button-shared [type]="'button'" [label]="['create.verb']" (click)="onCreate()" [class]="'ui-button-secondary'"></app-button-shared>
            <app-button-shared [type]="'button'" [label]="['clean.verb']" (click)="onReset()" [class]="'ui-button-secondary'"></app-button-shared>
          </div>
        </div>
      </div>
    </div>
  </app-panel-shared>
</form>
