<app-panel-shared>
  <div class="panel-header">
    <app-translate-shared [strings]="['verbs.search.verb', 'user.plural']"></app-translate-shared>
  </div>
  <div class="panel-content">
    <form [formGroup]="searchFormUser" (ngSubmit)="onSubmit()">
      <div class="ui-grid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-1">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <app-translate-shared [strings]="['user.model.user_id']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-9">
                <app-input-text-shared [group]="searchFormUser" [groupName]="'user'" [controlName]="'user_id'"></app-input-text-shared>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-1">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                <app-translate-shared [strings]="['user.model.username']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-8">
                <app-input-text-shared [group]="searchFormUser" [groupName]="'user'" [controlName]="'username'"></app-input-text-shared>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <app-translate-shared [strings]="['person.singular']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-9">
                <app-dropdown-page-person [group]="searchFormUser" [controlName]="'person'" [options]="['person_first_name', 'person_second_name']"
                  [optionLabel]="'person_identification'"></app-dropdown-page-person>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-2">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <app-translate-shared [strings]="['profile.singular']"></app-translate-shared>
              </div>
              <div class="ui-grid-col-9">
                <app-dropdown-page-profile [group]="searchFormUser" [controlName]="'profile'" [options]="['profile_name']"
                  [optionLabel]="'profile_name'"></app-dropdown-page-profile>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-7">
            <app-button-shared [type]="'submit'" [label]="['verbs.search.verb']" [disabled]="searchFormUser.invalid" [class]="'ui-button-secondary'"></app-button-shared>
            <app-button-shared [type]="'button'" [label]="['verbs.create.verb']" (click)="onCreate()" [class]="'ui-button-secondary'"></app-button-shared>
            <app-button-shared [type]="'button'" [label]="['verbs.clean.verb']" (click)="onReset()" [class]="'ui-button-secondary'"></app-button-shared>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
