<div class="ui-g">
  <div class="ui-g-12">
    <app-search-form-person [query]="query$ | async" (search)="onLoad($event)" (create)="onCreate()" (resetSearch)="onResetSearch()"></app-search-form-person>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-6">
    <app-table-shared [data]="data$ | async" [totalRecords]="total$ | async" [rows]="perPage$ | async" [first]="from$ | async"
      [to]="to$ | async" [selectRows]="selected" [configTable]="configTable" (rowSelect)="onEdit($event)" (rowUnselect)="onCancel()"
      (pageChange)="onPaginate($event)">
    </app-table-shared>
  </div>
  <div class="ui-g-6">
    <router-outlet></router-outlet>
  </div>
</div>
