<app-panel-shared>
  <div class="panel-header">
    <app-translate-shared [strings]="['verbs.search.verb', 'type_person.plural']"></app-translate-shared>
  </div>
  <div class="panel-content">
    <form [formGroup]="searchFormTypePerson" (ngSubmit)="onSubmit()">
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <div class="p-grid p-nogutter">
            <div class="p-col">
              <app-translate-shared [strings]="['type_person.model.type_person_id']"></app-translate-shared>
            </div>
            <div class="p-col">
              <app-input-text-shared [group]="searchFormTypePerson" [groupName]="'type_person'" [controlName]="'type_person_id'"></app-input-text-shared>
            </div>
          </div>
        </div>
        <div class="p-col">
          <div class="p-grid p-nogutter">
            <div class="p-col">
              <app-translate-shared [strings]="['type_person.model.type_person_description']"></app-translate-shared>
            </div>
            <div class="p-col">
              <app-input-text-shared [group]="searchFormTypePerson" [groupName]="'type_person'" [controlName]="'type_person_description'"></app-input-text-shared>
            </div>
          </div>
        </div>
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['verbs.search.verb']" [disabled]="searchFormTypePerson.invalid"
            [class]="'ui-button-secondary'"></app-button-shared>
          <app-button-shared [type]="'button'" [label]="['verbs.create.verb']" (click)="onCreate()" [class]="'ui-button-secondary'"></app-button-shared>
          <app-button-shared [type]="'button'" [label]="['verbs.clean.verb']" (click)="onReset()" [class]="'ui-button-secondary'"></app-button-shared>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
