<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="userOfficeForm" (ngSubmit)="onSubmit()">
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['office.singular']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-dropdown-page-user-office [group]="userOfficeForm" [controlName]="'userOffice'" [options]="['office.office_name']"
            [optionLabel]="'office.office_name'" [userOffice]="userOffice"></app-dropdown-page-user-office>
        </div>
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['verbs.select.verb']" [class]="'ui-button-secondary'"
            [disabled]="userOfficeForm.invalid"></app-button-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="userOfficeForm.get('userOffice')"></app-validation-errors-shared>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
