<div class="p-grid p-nogutter">
  <div class="p-col">
    <app-search-form-city [query]="query$ | async" (search)="onLoad($event)" (create)="onCreate()"
      (resetSearch)="onResetSearch()"></app-search-form-city>
  </div>
</div>
<div class="p-grid p-nogutter">
  <div class="p-col">
    <app-table-shared *ngIf="(data$ | async)?.length > 0 && (data$ | async); let data" [data]="data"
      [totalRecords]="total$ | async" [rows]="perPage$ | async" [first]="from$ | async" [to]="to$ | async"
      [selectRows]="selectedEntity" [configTable]="configTable" [footerPaginator]="true" (rowSelect)="onEdit($event)"
      (rowUnselect)="onCancel()" (pageChange)="onPaginate($event)">
    </app-table-shared>
  </div>
  <div class="p-col">
    <router-outlet></router-outlet>
  </div>
</div>
