<app-form-project *ngIf="!(project$ | async) as project" [pending]="pending$ | async" (submitted)="onStore($event)">
  <div class="form-title">
    <app-translate-shared [strings]="['create.verb', 'project.singular']"></app-translate-shared>
  </div>
  <app-button-shared [type]="'button'" [label]="['cancel.verb']" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
</app-form-project>

<app-form-project *ngIf="(project$ | async) as project" [pending]="pending$ | async" (submitted)="onUpdate($event)"
  [project]="project">
  <div class="form-title">
    <app-translate-shared [strings]="['edit.verb', 'project.singular']"></app-translate-shared>
  </div>
  <app-button-shared [type]="'button'" [label]="['delete.verb']" [class]="'ui-button-secondary'" (click)="onDestroy(project)"></app-button-shared>
  <app-button-shared [type]="'button'" [label]="['cancel.verb']" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
</app-form-project>
