<form [formGroup]="searchFormMacroproject" (ngSubmit)="onSubmit(searchFormMacroproject)">
  <div class="ui-grid">
    <div class="ui-grid-row">

      <div class="ui-grid-col-1">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">Id:</div>
          <div class="ui-grid-col-9">
            <app-input-text-shared [group]="searchFormMacroproject" [groupName]="'macroproject'" [controlName]="'macroproject_id'"></app-input-text-shared>
          </div>
        </div>
      </div>

      <div class="ui-grid-col-1">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">Macro Proyecto:</div>
          <div class="ui-grid-col-9">
            <app-input-text-shared [group]="searchFormMacroproject" [groupName]="'macroproject'" [controlName]="'macroproject_name'"></app-input-text-shared>
          </div>
        </div>
      </div>

      <div class="ui-grid-col-2">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">Ciudad:</div>
          <div class="ui-grid-col-9">
            <app-dropdown-page-city [group]="searchFormMacroproject" [controlName]="'city'" [options]="['city_name']"
              [optionLabel]="'city_name'"></app-dropdown-page-city>
          </div>
        </div>
      </div>

      <div class="ui-grid-col-2">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">Sucursal:</div>
          <div class="ui-grid-col-9">
            <app-dropdown-page-office [group]="searchFormMacroproject" [controlName]="'office'" [options]="['office_name']"
              [optionLabel]="'office_name'"></app-dropdown-page-office>
          </div>
        </div>
      </div>

      <div class="ui-grid-col-7">
        <app-button-shared [type]="'submit'" [label]="'Buscar'" [disabled]="searchFormMacroproject.invalid" [class]="'ui-button-secondary'"></app-button-shared>
        <app-button-shared [type]="'button'" [label]="'Agregar'" (click)="onCreate()" [class]="'ui-button-secondary'"></app-button-shared>
        <app-button-shared [type]="'button'" [label]="'Limpiar'" (click)="onReset()" [class]="'ui-button-secondary'"></app-button-shared>
      </div>
    </div>
  </div>
</form>
