<app-form-project *ngIf="!(project$ | async) as project" [pending]="pending$ | async" (submitted)="onStore($event)">
  <div class="form-title">
    <app-translate-shared [strings]="['verbs.create.verb', 'project.singular']"></app-translate-shared>
  </div>
  <app-button-shared [type]="'button'" [label]="['verbs.cancel.verb']" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
</app-form-project>

<app-form-project *ngIf="(project$ | async) as project" [pending]="pending$ | async" (submitted)="onUpdate($event)"
  [project]="project">
  <div class="form-title">
    <app-translate-shared [strings]="['verbs.edit.verb', 'project.singular']"></app-translate-shared>
  </div>
  <app-button-shared [type]="'button'" [label]="['verbs.delete.verb']" [class]="'ui-button-secondary'" (click)="onDestroy(project)"></app-button-shared>
  <app-button-shared [type]="'button'" [label]="['verbs.cancel.verb']" [class]="'ui-button-secondary'" (click)="onCancel()"></app-button-shared>
  <app-button-shared [type]="'button'" [label]="['user.plural']" [class]="'ui-button-secondary'" (click)="onUserOfficeProject(project)"></app-button-shared>
</app-form-project>

<router-outlet name="router-outlet-user-office-project"></router-outlet>
