<form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
  <app-input-text-shared [group]="loginForm" [groupName]="'auth'" [controlName]="'username'" [placeholder]="'Usuario'"></app-input-text-shared>
  <app-input-password-shared [group]="loginForm" [groupName]="'auth'" [controlName]="'password'" [placeholder]="'Contraseña'"></app-input-password-shared>
  <div class="ui-g">
    <div class="ui-g-5">
      <app-button-shared [type]="'submit'" [label]="'Iniciar Sesion'" [disabled]="loginForm.invalid" [class]="'ui-button-secondary'"></app-button-shared>
    </div>
    <div class="ui-g-7">
      <app-button-shared [type]="'button'" [label]="'Olvide mi Contraseña'" [class]="'ui-button-secondary'"></app-button-shared>
    </div>
  </div>
</form>
