<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="officeForm" (ngSubmit)="onSubmit()">
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['office.model.office_name']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="officeForm" [groupName]="'office'" [controlName]="'office_name'"></app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="officeForm.get('office.office_name')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['city.singular']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-dropdown-page-city [group]="officeForm" [controlName]="'city'" [options]="['city_name']" [optionLabel]="'city_name'"></app-dropdown-page-city>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="officeForm.get('city')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['verbs.save.verb']" [class]="'ui-button-secondary'" [disabled]="officeForm.invalid"></app-button-shared>
          <ng-content select="app-button-shared"></ng-content>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
