<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="macroprojectForm" (ngSubmit)="onSubmit()">
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['macroproject.model.macroproject_name']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="macroprojectForm" [groupName]="'macroproject'"
            [controlName]="'macroproject_name'"></app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="macroprojectForm.get('macroproject.macroproject_name')">
          </app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['macroproject.model.macroproject_address']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="macroprojectForm" [groupName]="'macroproject'"
            [controlName]="'macroproject_address'"></app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="macroprojectForm.get('macroproject.macroproject_address')">
          </app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['macroproject.model.macroproject_phone']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="macroprojectForm" [groupName]="'macroproject'"
            [controlName]="'macroproject_phone'"></app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="macroprojectForm.get('macroproject.macroproject_phone')">
          </app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['city.singular']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-dropdown-page-city [group]="macroprojectForm" [controlName]="'city'" [options]="['city_name']"
            [optionLabel]="'city_name'"></app-dropdown-page-city>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="macroprojectForm.get('city')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['office.singular']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-dropdown-page-office [group]="macroprojectForm" [controlName]="'office'" [options]="['office_name']"
            [optionLabel]="'office_name'"></app-dropdown-page-office>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="macroprojectForm.get('office')"></app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['verbs.save.verb']" [class]="'ui-button-secondary'"
            [disabled]="macroprojectForm.invalid || macroprojectForm.disabled"></app-button-shared>
          <ng-content select="app-button-shared"></ng-content>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
