<div class="ui-g">
  <div class="ui-g-1">
    <button pButton (click)="handlerClick(true)" class="ui-button-secondary" icon="pi pi-bars"></button>
  </div>
  <div class="ui-g-10">
    {{ user.person.person_first_name }} {{ user.person.person_second_name }} {{ user.person.person_first_surname }} {{
    user.person.person_second_surname }} -
    {{ company.company_name }}
  </div>
  <div class="ui-g-1">
    <app-translate-shared [strings]="['auth.singOut']" (click)="logout()"></app-translate-shared>
  </div>
</div>
