<div *ngIf="(user$ | async) as user">

  <app-sidebar-shared [showSidebar]="showSidebar$ | async" [style]="{'width':'100%'}" [modal]="false"
    (hide)="opencloseSidebar($event)">
    <app-menu-core
      [options]="user.profile.profile_menus | parentChildArrayShared:'menu.menu_id':'menu.menu_parent_id':'menu.menu_name'"
      (navigate)="handleNavigateFromSide($event)">
    </app-menu-core>
  </app-sidebar-shared>

  <div class="layout-header-topbar">
    <div class="layout-header-topbar-logo">
      <app-image-shared></app-image-shared>
    </div>
    <div class="layout-header-topbar-menu" (click)="opencloseSidebar(true)">
      <app-icon-prime-shared [class]="'pi pi-bars'"></app-icon-prime-shared>
    </div>
    <div class="layout-header-topbar-info">
      <div *ngIf="(company$ | async) as company">
        {{ company.company_name | transformTextShared:false:false:true }}
      </div>
      <div (click)="gotoSelectOffice()">
        {{
          (userOffice$ | async) ?
            ((userOffice$ | async).office.office_name | transformTextShared:false:false:true) :'Seleccionar Oficina'
        }}
      </div>
      <div (click)="gotoSelectProject()">
        {{
          (userOfficeProject$ | async) ?
            ((userOfficeProject$ | async).project.project_name | transformTextShared:false:false:true) : 'Seleccionar Proyecto'
        }}
      </div>
    </div>
    <div class="layout-header-topbar-icons">
      <app-icon-prime-shared [class]="'pi pi-calendar'"></app-icon-prime-shared>
      <app-icon-prime-shared [class]="'pi pi-bell'"></app-icon-prime-shared>
      <app-translate-shared [strings]="['auth.singOut']" [titleCase]="true" (click)="logout()"></app-translate-shared>
    </div>
  </div>

  <div class="layout-header-tabmenu">
    <app-tab-menu-shared *ngIf="(selectedMenus$ | async) as selectedMenus" [items]="selectedMenus.profileMenus"
      [active]="selectedMenus.selected" (navigate)="handleNavigateFromTab($event)" (close)="removeMenuTab($event)">
    </app-tab-menu-shared>
  </div>
</div>
