<div *ngIf="data.length > 0">
  de {{ first }} a {{ to }} de {{ totalRecords }}
  <p-table [columns]="configTable.cols" [value]="data" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
    [dataKey]="configTable.dataKey">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngStyle]="col.style">{{col.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" [ngStyle]="col.style">
          <div *ngIf="!col.subfield;then field_template else subfield_template"></div>
          <ng-template #field_template>
              {{rowData[col.field]}}
            </ng-template>
          <ng-template #subfield_template>
            {{rowData[col.field][col.subfield]}}
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator *ngIf="totalRecords > rows" [rows]="rows" [totalRecords]="totalRecords" [first]="first" (onPageChange)="onPageChange($event)"></p-paginator>
</div>
