<div *ngIf="data.length > 0">
  <p-paginator *ngIf="totalRecords > rows" [totalRecords]="totalRecords" [rows]="rows" [first]="first" (onPageChange)="onPageChange($event)"></p-paginator>
  <p-table [value]="data" [columns]="configTable.cols" [selectionMode]="configTable.selectionMode" [(selection)]="selectedRows"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [dataKey]="configTable.dataKey">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngStyle]="col.style">
          <app-translate-shared [strings]="col.header"></app-translate-shared>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngFor="let field of col.fields">
            {{ rowData | fetchStringInArrayShared:field }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator *ngIf="totalRecords > rows" [totalRecords]="totalRecords" [rows]="rows" [first]="first" (onPageChange)="onPageChange($event)"></p-paginator>
</div>
