<app-form-country *ngIf="!(country$ | async) as country" [pending]="pending$ | async" (submitted)="onStore($event)">
  <div class="form-title">Agregar Pais</div>
  <app-button-shared [type]="'button'" [label]="'Cancelar'" [class]="'ui-button-secondary'" (click)="onCancel()" [disabled]="pending$ | async"></app-button-shared>
</app-form-country>

<app-form-country *ngIf="(country$ | async) as country" [pending]="pending$ | async" (submitted)="onUpdate($event)"
  [country]="country">
  <div class="form-title">Editar Pais</div>
  <app-button-shared [type]="'button'" [label]="'Eliminar'" [class]="'ui-button-secondary'" (click)="onDestroy(country)" [disabled]="pending$ | async"></app-button-shared>
  <app-button-shared [type]="'button'" [label]="'Cancelar'" [class]="'ui-button-secondary'" (click)="onCancel()" [disabled]="pending$ | async"></app-button-shared>
</app-form-country>
