<app-form-country *ngIf="!(country$ | async) as country" (submitted)="onStore($event)">
  <h3>Agregar Pais</h3>
  <button pButton type="submit" label="Guardar" class="ui-button-secondary"></button>
  <button pButton type="button" label="Cancelar" class="ui-button-secondary" (click)="onCancel()"></button>
</app-form-country>

<app-form-country *ngIf="(country$ | async) as country" (submitted)="onUpdate($event)" [country]="country">
  <h3>Editar Pais</h3>
  <button pButton type="submit" label="Guardar" class="ui-button-secondary"></button>
  <button pButton type="button" label="Eliminar" class="ui-button-secondary" (click)="onDestroy(country)"></button>
  <button pButton type="button" label="Cancelar" class="ui-button-secondary" (click)="onCancel()"></button>
</app-form-country>
