<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['department.model.department_name']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="departmentForm" [groupName]="'department'" [controlName]="'department_name'">
          </app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="departmentForm.get('department.department_name')">
          </app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-translate-shared [strings]="['department.model.department_description']"></app-translate-shared>
        </div>
        <div class="p-col">
          <app-input-text-shared [group]="departmentForm" [groupName]="'department'"
            [controlName]="'department_description'"></app-input-text-shared>
        </div>
        <div class="p-col">
          <app-validation-errors-shared [control]="departmentForm.get('department.department_description')">
          </app-validation-errors-shared>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col">
          <app-button-shared [type]="'submit'" [label]="['verbs.save.verb']" [class]="'ui-button-secondary'"
            [disabled]="departmentForm.invalid || departmentForm.disabled"></app-button-shared>
          <ng-content select="app-button-shared"></ng-content>
        </div>
      </div>

    </form>
  </div>
</app-panel-shared>
