<app-panel-shared>
  <div class="panel-header">
    <ng-content select=".form-title"></ng-content>
  </div>
  <div class="panel-content">
    <form [formGroup]="userOfficeProjectForm" (ngSubmit)="onSubmit()">
      <div class="ui-grid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <app-translate-shared [strings]="['project.singular']"></app-translate-shared>
          </div>
          <div class="ui-grid-col-6">
            <app-dropdown-page-user-office-project [group]="userOfficeProjectForm" [controlName]="'userOfficeProject'"
              [options]="['project.project_name']" [optionLabel]="'project.project_name'" [userOfficeProject]="userOfficeProject"></app-dropdown-page-user-office-project>
          </div>
          <div class="ui-grid-col-2">
            <app-button-shared [type]="'submit'" [label]="['select.verb']" [class]="'ui-button-secondary'" [disabled]="userOfficeProjectForm.invalid"></app-button-shared>
          </div>
          <div class="ui-grid-col-2">
            <app-validation-errors-shared [control]="userOfficeProjectForm.get('userOfficeProject')"></app-validation-errors-shared>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-panel-shared>
